<!doctype html>
<html lang="en" xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/admin/dashboardLayout.html}">
<head>
</head>
<body>
    <section class="row" layout:fragment="content">
        <div class="col-6 offset-3 mt-4">
            <form th:action="@{/admin/equipment/saveOrUpdate}" method="post" th:object="${equipment}">
                <div class="card">
                    <div class="card-header">
                        <h2 th:if="${equipment.isEdit}">Update Equipment</h2>
                        <h2 th:unless="${equipment.isEdit}">Add New Equipment</h2>
                    </div>
                    <div class="card-body">
                        <div class="form-group">
                          <label for="equipmentId">Equipment ID :</label>
                          <input th:if="${equipment.isEdit}" type="text" class="form-control" name="equipmentId" 
                                 th:field="*{equipmentId}" id="equipmentIdUpdate" aria-describedby="equipmentIdHid" readonly>
                          <input th:unless="${equipment.isEdit}" type="text" class="form-control" name="equipmentId" 
                                 th:field="*{equipmentId}" id="equipmentId" aria-describedby="equipmentIdHid">
                          <small th:if="${#fields.hasErrors('equipmentId')}" id="equipmentIdHid" class="form-text text-muted">Equipment ID is required</small>
                        </div>
                        <div class="form-group">
                          <label for="equipmentName">Equipment Name :</label>
                          <input th:field="*{equipmentName}" type="text" class="form-control" name="equipmentName" id="equipmentName" aria-describedby="equipmentNameHid">
                          <small th:if="${#fields.hasErrors('equipmentName')}" id="equipmentNameHid" class="form-text text-muted">Equipment Name is required</small>
                        </div>
                        <div class="form-group">
                          <label for="dateOfInstallation">Day Report :</label>
                          <input th:field="*{dateOfInstallation}" type="date" name="dateOfInstallation" class="form-control" id="dateOfInstallation"
                                 placeholder="dd-mm-yyyy" value="" min="1997-01-01" max="2030-12-31">
                        </div>
                        <div class="form-group">s
                          <label for="company">Company :</label>
                          <input th:field="*{company}" type="text" class="form-control" name="company" id="company" aria-describedby="companyHid" placeholder="company">
                          <small th:if="${#fields.hasErrors('company')}" id="companyHid" class="form-text text-muted">Company is required</small>
                        </div>
                        <div class="form-group">
                            <label for="roomId">Room :</label>
                            <select class="form-control" name="roomId" id="roomId" th:field="*{roomId}">    
                              <option th:each="item : ${rooms}" th:value="${item.roomId}"
                                      th:text="${item.roomId}" th:select="${item.roomId == equipment.roomId}"></option>
                            </select>
                          </div>
                    </div>
                    <div class="card-footer text-muted">
                        <button type="reset" class="btn btn-secondary">Reset</button>
                        <a th:href="@{/admin/equipment}" class="btn btn-success">List Equipment</a>
                        <button class="btn btn-primary"><i class="fas fa-save"></i>
                            <span th:if="${equipment.isEdit}">Update</span>
                            <span th:unless="${equipment.isEdit}">Save</span>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </section>
</body>
</html>
