<!doctype html>
<html lang="en" xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/admin/dashboardLayout.html}">
<head>
</head>
<body>
<section class="row" layout:fragment="content">
    <div class="col-6 offset-3 mt-4">
        <form th:action="@{/admin/room/saveOrUpdate}" method="post" th:object="${room}">
            <div class="card">
                <div class="card-header">
                    <h2 th:if="${room.isEdit}">Update Room</h2>
                    <h2 th:unless="${room.isEdit}">Add New Room</h2>
                </div>
                <div class="card-body">
                    <input type="hidden" th:field="*{isEdit}">
                    <div class="form-group">
                        <label for="roomId">Room ID :</label>
                        <input th:if="${room.isEdit}" type="text" class="form-control" name="roomId" id="roomIdUpdate"
                               th:field="*{roomId}" aria-describedby="roomIdHid" placeholder="roomId" readonly>
                        <input th:unless="${room.isEdit}" type="text" class="form-control" name="roomId" id="roomId"
                               th:field="*{roomId}" aria-describedby="roomIdHid" placeholder="roomId">
                        <small th:if="${#fields.hasErrors('roomId')}" id="roomIdHid" class="form-text text-muted">Room
                            ID is required</small>
                    </div>
                    <div class="form-group">
                        <label for="roomFunction">Room Function :</label>
                        <input type="text" class="form-control" name="roomFunction" id="roomFunction"
                               th:field="*{roomFunction}" aria-describedby="roomFunctionHid" placeholder="roomFunction">
                        <small th:if="${#fields.hasErrors('roomFunction')}" id="roomFunctionHid"
                               class="form-text text-muted">Room Function is required</small>
                    </div>
                    <div class="form-group">
                        <label for="zoneId">Zone :</label>
                        <select class="form-control" name="zoneId" id="zoneId" th:field="*{zoneId}">
                            <option th:each="item : ${zones}" th:value="${item.zoneId}"
                                    th:text="${item.zoneName}" th:select="${item.zoneId == room.zoneId}"></option>
                        </select>
                    </div>
                </div>
                <div class="card-footer text-muted">
                    <button type="reset" class="btn btn-secondary">Reset</button>
                    <a th:href="@{/admin/room}" class="btn btn-success">List Room</a>
                    <button class="btn btn-primary"><i class="fas fa-save"></i>
                        <span th:if="${room.isEdit}">Update</span>
                        <span th:unless="${room.isEdit}">Save</span>
                    </button>
                </div>
            </div>
        </form>
    </div>
</section>
</body>
</html>
