<!doctype html>
<html lang="en" xmlns:th="http://thymeleaf.org" xmlns:layout="http://ultraq.net.nz/thymeleaf/layout">
<head>

</head>
<body>
<div th:fragment="footer">
<!--    <footer class="text-center text-white mt-5" style="background-color: #f1f1f1;">-->
<!--        &lt;!&ndash; Grid container &ndash;&gt;-->
<!--        <div class="container pt-4">-->
<!--            &lt;!&ndash; Section: Social media &ndash;&gt;-->
<!--            <section class="mb-4">-->
<!--                &lt;!&ndash; Facebook &ndash;&gt;-->
<!--                <a-->
<!--                        class="btn btn-link btn-floating btn-lg text-dark m-1"-->
<!--                        href="#!"-->
<!--                        role="button"-->
<!--                        data-mdb-ripple-color="dark"-->
<!--                ><i class="fab fa-facebook-f"></i-->
<!--                ></a>-->

<!--                &lt;!&ndash; Twitter &ndash;&gt;-->
<!--                <a-->
<!--                        class="btn btn-link btn-floating btn-lg text-dark m-1"-->
<!--                        href="#!"-->
<!--                        role="button"-->
<!--                        data-mdb-ripple-color="dark"-->
<!--                ><i class="fab fa-twitter"></i-->
<!--                ></a>-->

<!--                &lt;!&ndash; Google &ndash;&gt;-->
<!--                <a-->
<!--                        class="btn btn-link btn-floating btn-lg text-dark m-1"-->
<!--                        href="#!"-->
<!--                        role="button"-->
<!--                        data-mdb-ripple-color="dark"-->
<!--                ><i class="fab fa-google"></i-->
<!--                ></a>-->

<!--                &lt;!&ndash; Instagram &ndash;&gt;-->
<!--                <a-->
<!--                        class="btn btn-link btn-floating btn-lg text-dark m-1"-->
<!--                        href="#!"-->
<!--                        role="button"-->
<!--                        data-mdb-ripple-color="dark"-->
<!--                ><i class="fab fa-instagram"></i-->
<!--                ></a>-->

<!--                &lt;!&ndash; Linkedin &ndash;&gt;-->
<!--                <a-->
<!--                        class="btn btn-link btn-floating btn-lg text-dark m-1"-->
<!--                        href="#!"-->
<!--                        role="button"-->
<!--                        data-mdb-ripple-color="dark"-->
<!--                ><i class="fab fa-linkedin"></i-->
<!--                ></a>-->
<!--                &lt;!&ndash; Github &ndash;&gt;-->
<!--                <a-->
<!--                        class="btn btn-link btn-floating btn-lg text-dark m-1"-->
<!--                        href="#!"-->
<!--                        role="button"-->
<!--                        data-mdb-ripple-color="dark"-->
<!--                ><i class="fab fa-github"></i-->
<!--                ></a>-->
<!--            </section>-->
<!--            &lt;!&ndash; Section: Social media &ndash;&gt;-->
<!--        </div>-->
<!--        &lt;!&ndash; Grid container &ndash;&gt;-->

<!--        &lt;!&ndash; Copyright &ndash;&gt;-->
<!--        <div class="text-center text-dark p-3" style="background-color: rgba(0, 0, 0, 0.2);">-->
<!--            © 2020 Copyright:-->
<!--            <a class="text-dark" href="https://mdbootstrap.com/">MDBootstrap.com</a>-->
<!--        </div>-->
<!--        &lt;!&ndash; Copyright &ndash;&gt;-->
<!--    </footer>-->
</div>

</body>
</html>