<!doctype html>
<html lang="en" xmlns:th="http://thymeleaf.org" xmlns:layout="http://ultraq.net.nz/thymeleaf/layout">
  <head>

</head>
<body>
    <div th:fragment="nav">
        <nav class="navbar navbar-expand-sm navbar-light bg-light">
            <a class="navbar-brand" href="#">IF Faculty</a>
            <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse"
                    data-target="#collapsibleNavId" aria-controls="collapsibleNavId"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="collapsibleNavId">
                <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                    <li class="nav-item active">
                        <a class="nav-link" th:href="@{/user/report}">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/admin/zone/searchpaginated}">Manage Zone</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/admin/room}">Manage Room</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/admin/equipment}">Manage Equipment</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/admin/account}">Manage Account</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Your Account</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</body>
</html>